@define-color base00 #282828;
@define-color base01 #3C3836;
@define-color base02 #504945;
@define-color base03 #665C54;
@define-color base04 #BDAE93;
@define-color base06 #D5C4A1;
@define-color base06 #EBDBB2;
@define-color base07 #FBF1C7;
@define-color base08 #FB4934;
@define-color base09 #FE8019;
@define-color base0A #FABD2F;
@define-color base0B #B8BB26;
@define-color base0C #8EC07C;
@define-color base0D #83A598;
@define-color base0E #D3869B;
@define-color base0F #D65D0E;

window {
    opacity: 0.9;
    border-radius: 10px;
    font-family: "Hack Nerd Font Mono";
    font-size: 25px;
}

@define-color clear rgba(0, 0, 0, 0.0);
@define-color primary rgba(0, 0, 0, 0.75);

#input {
	border-radius: 10px 10px 0px 0px;
  padding: 7px;
  margin: 4px;
  border:  0px;
  font-size: 28px;
	color: #8EC07C;
  background-color: #313244;
}

#inner-box {
	margin: 0px;
	color: @base06;
	background-color: @base00;
  /* background-color: @clear; */
}

#outer-box {
	margin: 0px;
	background-color: @base00;
    border-radius: 10px;
}

#selected {
	background-color: #608787;
}

#entry {
	padding: 0px;
    margin: 0px;
	background-color: @base00;
}

#scroll {
	margin: 5px;
	background-color: @base00;
}

#text {
	margin: 0px;
	padding: 2px 2px 2px 10px;
}
